@use '../sass/partials/forward-file' as filePaths;

.ContainerForm {
    @include filePaths.containerForm
}
.addCartSubBtn {
    @include filePaths.button-props;
}
.addCartTabHdrRow,
.addCartTabFtrRow {
    background-color: #0086b3;
    color: #fff !important;
   
}
.addCartTabHdrRow th,
.addCartTabFtrRow td {
    color: #fff !important;
    font-weight: 600;
}
// .breadCrumbs {
//     width: 36.3%;
// }.

.addCartTabBdyRow td{
    //  &.MuiTableCell-sizeSmall {
        padding: 2px 5px !important;
    //  }
      
    
}
.flexDirect{
    flex-direction: row;
}
.addToCartContainer{
    width:37%;
    margin: 0px auto;
  }
.addToCartImg{
    width: 100%;
     margin: 0px auto ;
     border-radius: 50%
}
