@use '../sass/partials/forward-file' as filePaths;

$logo-height: 5em;

.logo {
    height: $logo-height;
}
.logoContainer:hover{
      background-color: transparent;
  }
.subMenu{
    opacity: 1;
}
.tabContainer {
    margin: 0px auto;
  }

  