@mixin containerForm {
  // width: 60%;
  padding: 0.8em ;
  margin: 0em auto 0 auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: linear-gradient(
    65deg,
    rgb(143,193,210) 15%,
    rgb(41, 137, 171) 45%
  );
  // background: linear-gradient(90deg, rgba(160, 183 ,191, .8), rgb(38 ,169 ,213 , .8)),
}
